@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    /* Fonts */
    --main-font: 'Quicksand', 'serif';

    /* Colors */
    --background: #F7F5F2;
    --grey: #606062;
    --black: #373737;
    --logo: #164A5F;
    --green: #5C665B;
}

body {
    font-family: var(--main-font);
}

/* Header */

.nav-wrapper {
    background-color: var(--background);
}

.menu-text li a {
    color: var(--grey);
    margin-right: 2rem;
}

.logo {
    width: 18rem;
    height: auto;
    margin-left: 2rem;
    margin-top: .65rem;
}

.solid-background {
    background-color: var(--background);
}

/* Main */

.text-1 h2 {
    font-size: 1.5rem;
    color: var(--background);
    text-align: center;
    padding: 0;
    margin: .2rem;
}

.text-1 {
    margin-top: 25%;
    padding: 1rem;
}

.text-2 h2 {
    font-size: 1.5rem;
    color: var(--background);
    margin-top: 70%;
    margin-left: 50%;
}

.text-3 h2 {
    font-size: 1.5rem;
    color: var(--background);
    text-align: center;
    padding: 0;
    margin-top: 12rem;
    margin-left: 10%;
}

.text-4 h2 {
    font-size: 1.5rem;
    color: var(--background);
    text-align: center;
    padding: 0;
    margin-top: 18rem;
    margin-right: 10%;
}

.card-position {
    margin: 2rem;
    padding: 2rem;
}

.card-image {
    width: 20rem;
    height: auto;
    margin: auto;
    padding: 2rem;
}

.questions {
    font-size: 1.5rem;
}

.next-btn {
    background-color: var(--green);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background: var(--green);
}

.next-btn:hover {
    background-color: var(--grey);
    transform: scale(1.05);
}

.parallax-container {
    height: 400px;
  }

  /* .question-container {
    max-width: 600px;
    margin: 0 auto;
}
.question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
} */
.question-number {
    font-weight: bold;
}

.hidden {
    display: none;
}

.center-align {
    text-align: center;
}

.emoji {
    font-size: 3rem;
  }

#header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.active_category {
    color: var(--logo);
    font-weight: 800;
}

.category_header {
    color: var(--grey);
}

/* Footer */

.footer-text {
    text-decoration: none;
    color: var(--black);
    font-size: 1rem;
    font-weight: 500;
}

.footer-text p {
    margin-left: 30%;
}

.logo-bw {
    width: 9rem;
    margin-left: 30%;
}

@media screen and (min-width: 767px) {

    .text-1 h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
    
    .text-1 {
        margin-top: 5rem;
        padding: 1.2rem;
    }
    
    .text-2 h2 {
        font-size: 1.5rem;
    }

    .text-2 {
        margin-top: -18rem;
    }

    .text-3 h2 {
        margin-left: 60%;
    }

    .logo-bw {
        width: 17rem;
        margin-left: 5%;
    }

    .footer-text {
        font-size: 1.2rem;
        font-weight: 500;
    }
    
    .footer-text:hover {
        font-weight: 700;
    }

}

@media screen and (min-width: 992px) {
    .text-1 h2 {
        font-size: 2rem;
    }
    
    .text-2 h2 {
        font-size: 2rem;
    }

    .text-2 {
        margin-top: -60%;
    }


}